# Dependencies
node_modules

# Build output
dist

# Development
.env
.env.local
.env.*.local

# IDE
.vscode
.idea
*.swp
*.swo
*~

# Logs
*.log
npm-debug.log*

# Test
coverage

# OS
.DS_Store
Thumbs.db

# Docker
Dockerfile
Dockerfile.prod
.dockerignore
